.mainBox {
 width: 800px;
 color: white;
 background: rgb(44, 28, 28);
 margin-left: auto;
 margin-right: auto;
 padding: 30px;

}

h1 {
   font-family: 'Roboto Slab', serif;
   text-align: center;
}

/* unvisited link */
a:link {
  color: White;
  text-decoration: none;

}

/* visited link */
a:visited {
  color: grey;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  font-size: 25px;
}

img {
  width: 150px;
  margin-left: 45%;
}

.btn-group button {
  background-color: rgb(68, 243, 106); /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Roboto Slab', serif;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group {
  width: 600px;
  margin-left: 20%
}